<nav class="navbar navbar-expand-lg custom-navbar shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">SolutionUL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link me-4" [routerLink]="['/']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" [routerLink]="['/about']">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" [routerLink]="['/skills']">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" [routerLink]="['/contact']">Acerca de</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>