.custom-navbar .nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
  }

  .custom-navbar .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .custom-navbar .nav-link:hover:before {
    transform: scaleX(1);
  }
  .navbar {
    background-color: #474c80;
  }
  .navbar-brand{
    color: white;
  }
  a{
    text-shadow: 0 0 30px #fff;
  }