<main class="mt-6">
    <div class="carousel-container">
      <div class="carousel-slide">
        <img src="assets/carrusel/img2.jpeg" height="350px" width="400px" style="border-radius: 10px;">
      </div>
      <div class="carousel-slide">
        <img src="assets/carrusel/img3.jpeg" height="350px" width="400px" style="border-radius: 10px;">
      </div>
      <div class="carousel-slide">
        <img src="assets/carrusel/img4.jpeg" height="350px" width="400px" style="border-radius: 10px;">
      </div>
      <div class="carousel-slide">
        <img src="assets/carrusel/img5.jpeg" height="350px" width="400px" style="border-radius: 10px;">
      </div>
      <div class="carousel-slide">
        <img src="assets/carrusel/img6.jpeg" height="350px" width="400px" style="border-radius: 10px;">
      </div>
      <div class="carousel-slide">
        <img src="assets/carrusel/img7.jpeg" height="350px" width="400px" style="border-radius: 10px;">
      </div>
    </div>
  </main>

  
  <div class="info-product">
    <h1 class="text-center text-white"> Información del software</h1>
    <p class="text-white text-center">
        Nuestra innovadora plataforma está diseñada específicamente para universidades, ofreciendo un control eficiente y organizado sobre diversos aspectos de la vida académica. Este programa proporciona una gestión integral de recursos, desde la regulación del uso de dispositivos como videobeam en salones hasta la administración de solicitudes. Facilitamos un entorno académico más eficiente y productivo, garantizando una experiencia educativa óptima para todos.
      </p>
      <br>
      <br>
    <h2 class="text-white text-center"> Lenguajes usados en el software desarrollado</h2>
  </div>
  <div class="container">

    <div class="card">
      <div class="face face1">
        <div class="content">
          <span class="stars"></span>
          <h2 class="java text-center">Java</h2>

          <p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
        </div>
      </div>
      <div class="face face2">
        <h2>01</h2>
      </div>
    </div>
  <br>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <span class="stars"></span>
          <h2 class="pythontext-center">Mysql</h2>
          <p class="python">MySQL es un sistema de gestión de bases de datos relacional desarrollado bajo licencia dual: Licencia pública general/Licencia comercial por Oracle Corporation y está considerada como la base de datos de código abierto más popular del mundo,1​2​ y una de las más populares en general junto a Oracle y Microsoft SQL Server, todo para entornos de desarrollo web.</p>
        </div>
      </div>
      <div class="face face2">
        <h2>02</h2>
      </div>
    </div>
  </div>