<section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h3>Testimonios</h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explora la experiencia de nuestos clientes</h2>
            </div>
        </div>
    </div> <!-- Close the container after the heading -->

    <!-- Move the closing tag of the outer section after the inner section -->
    <section class="home-testimonial-bottom">
        <div class="container testimonial-inner">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 style-3">
                    <div class="tour-item shadow ">
                        <div class="tour-desc">
                            <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex repellat commodi vel expedita, reprehenderit nostrum unde quam minus, dignissimos voluptatibus cupiditate laboriosam ipsa dolore? Sint adipisci earum provident voluptate vero?.&rdquo;</div>
                            <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="assets/testimonials/testimonio1.jpg" alt=""></div>
                            <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                            <div class="link-position d-flex justify-content-center text-ocupacion">Developer </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 style-3">
                    <div class="tour-item shadow ">
                        <div class="tour-desc">
                            <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex repellat commodi vel expedita, reprehenderit nostrum unde quam minus, dignissimos voluptatibus cupiditate laboriosam ipsa dolore? Sint adipisci earum provident voluptate vero?.&rdquo;</div>
                            <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="assets/testimonials/testimonio2.jpg" alt=""></div>
                            <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                            <div class="link-position d-flex justify-content-center text-ocupacion">Developer</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 style-3">
                    <div class="tour-item shadow ">
                        <div class="tour-desc">
                            <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex repellat commodi vel expedita, reprehenderit nostrum unde quam minus, dignissimos voluptatibus cupiditate laboriosam ipsa dolore? Sint adipisci earum provident voluptate vero?.&rdquo;</div>
                            <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="assets/testimonials/testimonio3.jpg" alt=""></div>
                            <div class="link-name d-flex justify-content-center">Hasbulla</div>
                            <div class="link-position d-flex justify-content-center text-ocupacion">Developer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br>
<br>
